/* ejemplo2.css   AF19026  */
pais {background-color:green;}
departamento {background-color:black; display:block;} 
cabecera {color:white; display:block; font-size:1cm;}
habitantes {color:yellow; font-size:1cm;}
altura {color:yellow; display:block; font-size:1cm;}